/* ftx.css: stylesheet to display Fountain XML in a borwser or
   transform into PDF */

/* The big stuff: everything is block, except what isn't. */
* {
    display: block;
    font-family: courier, monospace;
    font-size: 12pt;
}
/* Non-Printing Elucidation. */
synopsis, note {
    display: none;
}
/* Inline formatting, script breakdown, scene heading elements and character name, extensions. */
b, u, i, bd, scene-heading > *, character > * {
    display: inline;
}

/* Layout Plan. */
fountain {
    width: 6in;
}
@media print {
    @page {
        size: Letter;
        margin-top: 1in;
        margin-left: 1.5in;
        background-color: white;
        @top-right {
            content: counter(page) ".";
        }
    }
    title-page, page-break {
        page-break-after: always;
    }
}
@media screen {
    fountain {
        margin-top: 1em;
        margin-left: 1em;
    }
    title-page, page-break {
        border-bottom: solid thin;
        margin-bottom: 1em;
    }
}

/* Block Spacing and Formatting. */
scene-heading, action, transition, dialogue, dual-dialogue {
    margin-bottom: 1em;
}
scene-heading {
    page-break-after: avoid;
}
scene-heading > setting:after {
    content: " ";
}
scene-heading > tod:before {
    content: " -- ";
}
transition {
    /*margin-left: 4in;*/
    text-align: right;
}

/* Dialogue */
dialogue {
    margin-left: 1in;
}
character {
    margin-left: 1in;
    page-break-after: avoid;
}
character > extension:before {
    content: " ";
}
dialogue > line {
    width: 3.5in;
}
parenthetical {
    margin-left: .5in;
    /*width: 2.5in;*/
    page-break-before: avoid;
    page-break-after: avoid;
}

/* Dual Dialogue */
dual-dialogue {
    display:table;
}
dual-dialogue > dialogue {
    display:table-cell;
    padding-left: .25in;
    width: 2.5in;
}
dual-dialogue > dialogue > line {
    width: 2.75in;
}

/* Formatting */
action, dialogue {
    /* "Fountain takes every carriage return as intent." */
    white-space: pre-line;
}
b {
    font-weight: bold;
}
u {
    text-decoration: underline;
}
i {
    font-style: italic;
}
center {
    text-align: center;
}

/* Title Page (vertical spacing can use some work here) */
title-page {
    padding-bottom: 1em;
}
/* "If you add unsupported key values to your document, they will be
   ignored, but you may find them useful as metadata." */
title-page > key[name] {
    display: none;
}
/* "The recommendation is that Title, Credit, Author (or Authors,
   either is a valid key syntax), and Source will be centered on the
   page in formatted output. Contact and Draft date would be placed at
   the lower left." Big Fish adds Copyright to the latter list */
title-page > key[name="Title"],
title-page > key[name="Credit"],
title-page > key[name="Author"],
title-page > key[name="Authors"],
title-page > key[name="Source"] {
    display: block;
    text-align: center;
}
title-page > key[name="Contact"],
title-page > key[name="Draft date"],
title-page > key[name="Copyright"] {
    display: block;
    text-align: left;
}
/* Sic in Big Fish. */
title-page > key[name="Notes"] {
    display: block;
    text-align: right;
}

/* FTX extension. */
title-page > key[name="Project Home"] {
    display: block;
    text-align: center;
    text-decoration: underline;
}
